function Sys.min 0
    push argument 0
    push argument 1
    lt
    if-goto ARG0_MIN
    push argument 1
    return

label ARG0_MIN
    push argument 0
    return

function Sys.max 0
    push argument 0
    push argument 1
    gt
    if-goto ARG0_MAX
    push argument 1
    return

label ARG0_MAX
    push argument 0
    return

function Sys.range 5
    push argument 0
    pop local 0

    push argument 1
    pop local 1

    push local 1
    push constant 1
    lt
    if-goto RETURN_ZERO
    push local 1
    push constant 1
    eq
    if-goto RETURN_ZERO

    push local 0
    pop pointer 1 
    push that 0
    pop local 2 
    push that 0
    pop local 3 

    push constant 1
    pop local 4

label LOOP
    push local 4
    push local 1
    lt
    not
    if-goto END_LOOP

    push local 0
    push local 4
    add
    pop pointer 1 
    push that 0
    pop temp 0 

    push temp 0
    push local 2
    call Sys.min 2
    pop local 2

    push temp 0
    push local 3
    call Sys.max 2
    pop local 3

    push local 4
    push constant 1
    add
    pop local 4

    goto LOOP

label END_LOOP
    push local 3
    push local 2
    sub
    return

label RETURN_ZERO
    push constant 0
    return
