function Sys.min 0
    push argument 1
    push argument 0
    lt
    if-goto ARG1_LESS
    push argument 0
    goto END
label ARG1_LESS
    push argument 1
label END
    return

function Sys.max 0
    push argument 1
    push argument 0
    gt
    if-goto ARG1_GREATER
    push argument 0
    goto END
label ARG1_GREATER
    push argument 1
label END
    return

function Sys.range 3
    push argument 1
    push constant 1
    lt
    if-goto RETURN_ZERO
    push argument 1
    push constant 1
    eq
    if-goto RETURN_ZERO

    push argument 0
    pop pointer 1
    push that 0
    pop local 1
    push that 0
    pop local 2

    push constant 1
    pop local 0

label LOOP
    push local 0
    push argument 1
    lt
    not
    if-goto END_LOOP

    push argument 0
    push local 0
    add
    pop pointer 1
    push that 0

    push local 1
    push that 0
    call Sys.min 2
    pop local 1

    push local 2
    push that 0
    call Sys.max 2
    pop local 2

    push local 0
    push constant 1
    add
    pop local 0

    goto LOOP

label END_LOOP
    push local 2
    push local 1
    sub
    return

label RETURN_ZERO
    push constant 0
    return