function Array.range 3
    push argument 0 
    push constant 0      
    add
    pop pointer 1
    push that 0 
    pop local 1  
    push that 0          
    pop local 2 

    push constant 1
    pop local 0          

label LOOP_START
    push local 0         
    push argument 1      
    lt 
    if-goto LOOP_BODY    
    goto LOOP_END        

label LOOP_BODY
    push argument 0
    push local 0         
    add                  
    pop pointer 1 
    push that 0 

    push that 0          
    push local 1         
    gt // current > max?
    if-goto UPDATE_MAX   
    goto SKIP_MAX        

label UPDATE_MAX
    push that 0          
    pop local 1 
label SKIP_MAX
    push that 0          
    push local 2         
    lt// current < min?
    if-goto UPDATE_MIN   
    goto SKIP_MIN        

label UPDATE_MIN
    push that 0          
    pop local 2 // min = current
label SKIP_MIN

    // i += 1
    push local 0         
    push constant 1      
    add                  
    pop local 0          
    goto LOOP_START      

label LOOP_END
    push local 1 // max
    push local 2 // min
    sub                   
    return               